@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald');

body {
    font-family: 'Heebo', "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    background: rgba(216, 177, 23, 0.76);
    margin: 0;
}

header, main {
    padding: 8px;
    text-align: center;

}

main {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    border-bottom: 1px solid orange;
}

h1 {
    margin: 0 20px;
    flex-grow: 2;
}

